// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$color-bg: #121212;
$color-primary: #00adb5;
$color-secondary: #222831;
$color-accent: #393e46;
$color-text: #eeeeee;
$font-main: 'Poppins', sans-serif;
$transition: 0.3s ease;
